body {
  background-color: #3f7230 !important;
}

.main-circle {
  height: 80vh;
  width: 80vh;
  background-color: white;

  display: inline-block;
  border-radius: 50%;
  z-index: -1;
}

.login {
  z-index: 3;
}

ul {
  margin: 0;
  padding: 0;
  overflow: auto;
  max-height: 80vh;
}

ul {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
ul::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.full-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#upload_row {
  display: none;
}

#load_messages_list {
  text-align: center;
  height: 60vh;
  width: 60vh;
  list-style-type: none;
  margin-top: 10px;
}

input[type=password], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #3f7230;
  background: none;
}

#mode_button {
  position: absolute;
  width: 12vh;
  height: 12vh;
  bottom: 5%;
  right: 5%;
  transform: translate(-5%, -5%);
  z-index: 3;
  border-radius: 50%;
  background: white;
  display: block;
  text-align: center;
  display: none;
}

#mode_button > i {
  line-height: 12vh;
  vertical-align: middle;
  color: #3f7230;
}

#mode_button:hover {
  background: #3f7230;
}

#mode_button:hover > i {
  color: white;
}

#up-icon {
  display: none;
}

a {
  color: #3f7230 !important;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #3f7230;
    background-color: white;
    display: inline-block;
    border: 2px solid #3f7230;
    border-radius: 10px;
    padding: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: white;
    background-color: #3f7230;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.lyginis {
}

li {
  margin-bottom: 20px;
}

.databaseDate {
  color: #aaa;
}

#siuntiniaiCheckbox {
  margin-bottom: 1rem;
}
#siuntiniaiLabel {
  color: #aaaaaa;
}

.tagPublic {
  display: inline;
  color: gold;
}

li hr {
  width: 80%;
}